* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    background: cadetblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.navbar-link {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aliceblue;
    flex: 1;
    text-align: center;
}

a {
    font-size: 2rem;
    text-decoration: none;
}




aside {
    background: darkgreen;
}


main {
    background: darksalmon;
}

img {
    width: 100%;
    height: 100%;
}

.elem {
    border: 1px solid black;
    margin: 2rem;
}



.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.offset-1 {
    margin-left: 8.333333%;
}

.offset-2 {
    margin-left: 16.666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.333333%;
}

.offset-5 {
    margin-left: 41.666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.333333%;
}

.offset-8 {
    margin-left: 66.666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.333333%;
}

.offset-11 {
    margin-left: 91.666667%;
}











/* flexbox: прижатый футер */
html {
    height: 100%;
}

body {
    font-size: 20px;
    margin: 0;
    color: #3E2723;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-block {
    /* grow shrink basis */
    flex: 1 0 auto;

}

footer {
    flex: 0 0 auto;
    background: crimson;
    height: 50px;
}



.div-col-8 {
    height: 100px;
}